<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

	<title>AI for learning</title>
</head>

<body>
	<main role="main" class="container">
		<form class="mt-5" method="POST" action="/user_form">
			<div class="jumbotron text-center">
				<h1 class="display-3">Thank you!</h1>
<p>Unfortunately, I can't tell you your score as it might influence your behavior if you do the experiment again.
</p>

<p>You can only make good guesses if the images that were shown to you were representative enough for you to guess the rule, which is the point of this experiment.</p>
<p>For more information about the experiment, <a href="https://floregol.github.io/al/">click here</a></p>
			</div>
			<div class="col text-center"> <button style="background-color: darkgreen;border-color:darkgreen", type="submit" class="btn btn-primary">Start the experiment
					again</button></div>
		</form>



	</main><!-- /.container -->
</body>

</html>